PalMon/Resources/PalMonConfig.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="PalMon" elementFormDefault="qualified" targetNamespace="PalMon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PalMonConfig" type="tns:PalMon.Config.PalMonConfigCT" />
  <xs:complexType name="PalMon.Config.PalMonConfigCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" name="Database" type="tns:PalMon.Config.DatabaseCT">
        <xs:annotation>
          <xs:documentation>Contains configuration information for the results database.  Only required if OutputMode is "DB".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="Processes" type="tns:PalMon.Config.ProcessesCT">
        <xs:annotation>
          <xs:documentation>Contains information of which processes to monitor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="Logs" type="tns:PalMon.Config.LogsCT">
        <xs:annotation>
          <xs:documentation>Represents a logical grouping of directories in which log files are monitored.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="Clusters" type="tns:PalMon.Config.ClustersCT">
        <xs:annotation>
          <xs:documentation>Contains definitions of which machines to monitor and their logical clustering.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="PollInterval" type="tns:PalMon.Config.PollIntervalCT">
        <xs:annotation>
          <xs:documentation>Contains information about the polling frequency.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="LogPollInterval" type="tns:PalMon.Config.LogPollIntervalCT">
        <xs:annotation>
          <xs:documentation>Contains information about the server log polling frequency.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="ThreadInfoPollInterval" type="tns:PalMon.Config.ThreadInfoPollIntervalCT">
        <xs:annotation>
          <xs:documentation>Contains information about the thread information polling frequency.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="DBWriteInterval" type="tns:PalMon.Config.DBWriteIntervalCT">
        <xs:annotation>
          <xs:documentation>Contains information about the DB write frequency.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="OutputMode" type="tns:PalMon.Config.OutputModeCT">
        <xs:annotation>
          <xs:documentation>Contains information about the result output mode.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="LogFolder" type="tns:PalMon.Config.LogFolderCT">
        <xs:annotation>
          <xs:documentation>The configuration for the log poller.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PalMon.Config.ClusterCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Host" type="tns:PalMon.Config.HostCT">
        <xs:annotation>
          <xs:documentation>Represents an individual host.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
    <xs:attribute name="name" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The name of the cluster.  Used to logically group multiple hosts.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PalMon.Config.DatabaseCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" name="Server" type="tns:PalMon.Config.ServerCT">
        <xs:annotation>
          <xs:documentation>Contains information about the database server location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="User" type="tns:PalMon.Config.UserCT">
        <xs:annotation>
          <xs:documentation>Contains information about the database user.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="Table" type="tns:PalMon.Config.TableCT">
        <xs:annotation>
          <xs:documentation>Contains information about the results table.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SqlCommand" type="tns:PalMon.Config.SqlCommandCT">
        <xs:annotation>
          <xs:documentation>SQL command timeout value.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
    <xs:attribute name="type" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The type of database that this is.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The name of the instantiated database.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PalMon.Config.HostCT">
    <xs:attribute name="name" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The hostname or IP address of the host to monitor.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PalMon.Config.ServerCT">
    <xs:attribute name="host" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The hostname or IP address of the database server.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="port" use="optional" type="xs:int">
      <xs:annotation>
        <xs:documentation>The port number of the database server.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PalMon.Config.UserCT">
    <xs:attribute name="login" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The login for the database user.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="password" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The password of the database user.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PalMon.Config.TableCT">
    <xs:attribute name="name" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The name of the database table to write results to.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PalMon.Config.SqlCommandCT">
    <xs:attribute name="timeout" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The timeout value of the SQL command in seconds.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PalMon.Config.PollIntervalCT">
    <xs:attribute name="value" use="required" type="xs:int">
      <xs:annotation>
        <xs:documentation>The interval between polling cycles, in seconds.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PalMon.Config.LogPollIntervalCT">
    <xs:attribute name="value" use="required" type="xs:int">
      <xs:annotation>
        <xs:documentation>The interval between server log polling cycles, in seconds.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PalMon.Config.ThreadInfoPollIntervalCT">
    <xs:attribute name="value" use="required" type="xs:int">
      <xs:annotation>
        <xs:documentation>The interval between thread information polling cycles, in seconds.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PalMon.Config.DBWriteIntervalCT">
    <xs:attribute name="value" use="required" type="xs:int">
      <xs:annotation>
        <xs:documentation>The interval between DB write operations in seconds.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PalMon.Config.OutputModeCT">
    <xs:attribute name="value" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The output mode.  "CSV" for local flat file output, or "DB" for database output.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PalMon.Config.ProcessesCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Process" type="xs:string">
        <xs:annotation>
          <xs:documentation>Represents a process name.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="PalMon.Config.LogsCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogFolder" type="tns:PalMon.Config.LogFolderCT">
        <xs:annotation>
          <xs:documentation>Represents a logical grouping of directories in which log files are monitored.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="PalMon.Config.ClustersCT">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cluster" type="tns:PalMon.Config.ClusterCT">
        <xs:annotation>
          <xs:documentation>Represents a logical grouping of hosts.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="PalMon.Config.LogFolderCT">
    <xs:attribute name="directory" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The directory to poll for log files</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="filter" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The file filter to narrow down the scope of the log file watcher.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>